<div>
  <!-- Options -->
  <div>
    <a data-toggle="collapse" data-target="#options"><h2>Options</h2></a>
    <div id="options" class="collapse">
      <div>
        <p>Actif</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Visible</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Name</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Last name</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Phone number</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Allergy</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Physical limitation</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Birthdate</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Gender</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Email</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>

  <hr>

  <!-- INPUT -->
  <div>
    <a data-toggle="collapse" data-target="#input"><h2>Input</h2></a>
    <div id="input" class="collapse">
      <app-form></app-form>
      <!--<div id="theForm">
        <form #f="ngForm" name="theForm" (submit)="addInscription(f)">
          <div  class="form-group">
            <label>First Name</label>
            <input type="text"
                   class="form-control"
                   name="firstName"
                   [(ngModel)]="inscriptionData.firstName"
                   #inscriptionFirstName="ngModel"
                   required
                   pattern="^[a-zA-Z]+$">
            <span class="help-block danger" *ngIf="inscriptionFirstName.errors?.required && inscriptionFirstName.touched">
          The first name is required
        </span>
            <span class="help-block danger" *ngIf="inscriptionFirstName.errors?.pattern && inscriptionFirstName.touched">
          The first name name can only contain the letters a-z or A-Z
        </span>
          </div>

          <div class="form-group">
            <label>LastName</label>
            <input type="text"
                   class="form-control"
                   name="lastName"
                   required
                   [(ngModel)]="inscriptionData.lastName"
                   #inscriptionLastName="ngModel"
                   value="test"
                   pattern="^[a-zA-Z]+$">
            <span class="help-block danger" *ngIf="inscriptionLastName.errors?.required && inscriptionLastName.touched">
          The last name is required
        </span>
            <span class="help-block danger" *ngIf="inscriptionLastName.errors?.pattern && inscriptionLastName.touched">
          The last name name can only contain the letters a-z or A-Z
        </span>
          </div>

          <div class="form-group">
            <label>Phone number</label>
            <input type="text"
                   class="form-control"
                   name="phoneNmber"
                   [(ngModel)]="inscriptionData.phoneNumber"
                   #inscriptionPhoneNumber="ngModel"
                   required>
            <span class="help-block danger" *ngIf="inscriptionPhoneNumber.errors?.required && inscriptionPhoneNumber.touched">
          The phone number is required
        </span>
          </div>

          <div class="form-group">
            <label>Allergy</label>
            <input type="text"
                   class="form-control"
                   name="allergy"
                   required
                   [(ngModel)]="inscriptionData.allergy"
                   #inscriptionAllergy="ngModel"
                   pattern="^[a-zA-Z]+$">
            <span class="help-block danger" *ngIf="inscriptionAllergy.errors?.required && inscriptionAllergy.touched">
          The allergy is required
        </span>
            <span class="help-block danger" *ngIf="inscriptionAllergy.errors?.pattern && inscriptionAllergy.touched">
          Allergy can only contain the letters a-z or A-Z
        </span>
          </div>

          <div class="form-group">
            <label>Physical limitations</label>
            <input type="text"
                   class="form-control"
                   name="physicalLimitations"
                   required
                   [(ngModel)]="inscriptionData.physicalLimitations"
                   #inscriptionPhysicalLimitations="ngModel"
                   pattern="^[a-zA-Z]+$">
            <span class="help-block danger" *ngIf="inscriptionPhysicalLimitations.errors?.required && inscriptionPhysicalLimitations.touched">
          The physical limitations are required
        </span>
            <span class="help-block danger" *ngIf="inscriptionPhysicalLimitations.errors?.pattern && inscriptionPhysicalLimitations.touched">
          Allergy can only contain the letters a-z or A-Z
        </span>
          </div>

          <div class="form-group">
            <label>Birthdate</label>
            <input type="date"
                   class="form-control"
                   name="birthdate"
                   [(ngModel)]="inscriptionData.birthdate"
                   #inscriptionBirthdate="ngModel"
                   required>
            <span class="help-block danger" *ngIf="inscriptionBirthdate.errors?.required && inscriptionBirthdate.touched">
          The date is required
        </span>
          </div>

          <div class="form-group">
            <label>Gender</label>
            <input type="radio"
                   class="form-control"
                   name="gender"
                   [(ngModel)]="inscriptionData.gender"
                   #inscriptionGender="ngModel"
                   required
                   value="Man"> Man

            <input type="radio"
                   class="form-control"
                   name="gender"
                   [(ngModel)]="inscriptionData.gender"
                   #inscriptionGender="ngModel"
                   required
                   value="woman"> Woman
            <span class="help-block danger" *ngIf="inscriptionGender.errors?.required && inscriptionGender.touched">
          The gender is required
        </span>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email"
                   class="form-control"
                   name="email"
                   required
                   [(ngModel)]="inscriptionData.email"
                   #inscriptionEmail="ngModel">
            <span class="help-block danger" *ngIf="inscriptionEmail.errors?.required && inscriptionEmail.touched">
          The email is required
        </span>
          </div>

          <button
            class="btn btn-primary btn-sm"
            [disabled]="f.invalid">Add</button>
        </form>
      </div>-->

    </div>
  </div>

  <hr/>

  <!-- GEGEVENS -->
  <div>
    <a data-toggle="collapse" data-target="#gegevens"><h2>Gegevens</h2></a>
    <div id="gegevens" class="collapse">
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inscription">
            <th> {{item.id}} </th>
            <th> {{item.firstName}} </th>
            <th> {{item.lastName}} </th>
            <th> {{item.birthdate}} </th>
            <th> <button (click)="editInscription(item.id)">Edit</button>
             <button (click)="deleteInscription(item.id)">Delete</button> </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div>
    <a data-toggle="collapse" data-target="#preview"><h2>Preview</h2></a>
    <div id="preview" class="collapse">

    </div>
  </div>


</div>


