<div>
  <!-- InscriptionOptions -->
  <div>
    <a data-toggle="collapse" data-target="#options"><h2>Inscription Options</h2></a>
    <div id="options" class="collapse">
      <app-inscription-options
      [inscriptionForm]="inscriptionForm"></app-inscription-options>
    </div>
  </div>

  <hr>

  <!-- INPUT -->
  <div>
    <a data-toggle="collapse" data-target="#input"><h2>Add inscription</h2></a>
    <div id="input" class="collapse">

      <form *ngIf="!edit" [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-6" *ngIf="inscriptionOptionsChild.firstNameActiveChecked">
              <label for="iFirstname">First Name:</label><br/>
              <input type="text" id="iFirstname" formControlName="firstName" class="form-control">
            <br/>
          </div>

          <div class="form-group col-md-6">
            <div *ngIf="inscriptionOptionsChild.lastNameActiveChecked">
              <label for="iLastName">Last Name:</label><br/>
                <input type="text" id="iLastName" formControlName="lastName" class="form-control">
              <br/>
            </div>
          </div>
        </div>

        <div *ngIf="inscriptionOptionsChild.phoneNumberActiveChecked">
          <label for="iPhoneNumber">Phone number:</label><br/>
            <input type="text" id="iPhoneNumber" formControlName="phoneNumber" class="form-control">
          <br/>
        </div>

        <div class="form-row">
          <div class="col-md-6" *ngIf="inscriptionOptionsChild.allergyActiveChecked">
            <label for="iAllergy">Allergies:</label><br/>
              <input type="text" id="iAllergy" formControlName="allergy" class="form-control">
            <br/>
          </div>

          <div class="col-md-6" *ngIf="inscriptionOptionsChild.physicalLimitationActiveChecked">
            <label for="iPhysicalLimitation">Physical limitations:</label><br/>
              <input type="text" id="iPhysicalLimitation" formControlName="physicalLimitation" class="form-control">
            <br/>
          </div>
        </div>

        <div *ngIf="inscriptionOptionsChild.birthdateActiveChecked">
          <label for="iBirthdate">Birthdate:</label><br/>
            <input type="date" id="iBirthdate" formControlName="birthdate" class="form-control">
          <br/>
        </div>

        <div *ngIf="inscriptionOptionsChild.genderActiveChecked">
          <label for="iGender">Gender:</label>
            <div id="iGender">
              <input type="radio" id="iMan" formControlName="gender" name="gender" value="Man">
              <label for="iMan">Man </label><br/>
              <input type="radio" id="iWoman" formControlName="gender" name="gender" value="Woman">
              <label for="iWoman">Woman </label>
            </div>
          <br/>
        </div>

        <div *ngIf="inscriptionOptionsChild.emailActiveChecked">
          <label for="iEmail">Email:</label><br/>
            <input type="text" id="iEmail" formControlName="email" class="form-control">
          <br/>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!inscriptionForm.valid">Add inscription</button>
      </form>


      <form *ngIf="edit" [formGroup]="inscriptionForm" (ngSubmit)="updateInscription()">
        <div class="form-row">
          <div class="col-md-6" *ngIf="inscriptionOptionsChild.firstNameActiveChecked">
            <label for="firstname">First Name:</label><br/>
            <input type="text" id="firstname" formControlName="firstName" class="form-control">
            <br/>
          </div>

          <div class="form-group col-md-6">
            <div *ngIf="inscriptionOptionsChild.lastNameActiveChecked">
              <label for="lastName">Last Name:</label><br/>
              <input type="text" id="lastName" formControlName="lastName" class="form-control">
              <br/>
            </div>
          </div>
        </div>

        <div *ngIf="inscriptionOptionsChild.phoneNumberActiveChecked">
          <label for="phoneNumber">Phone number:</label><br/>
          <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
          <br/>
        </div>

        <div class="form-row">
          <div class="col-md-6" *ngIf="inscriptionOptionsChild.allergyActiveChecked">
            <label for="allergy">Allergies:</label><br/>
            <input type="text" id="allergy" formControlName="allergy" class="form-control">
            <br/>
          </div>

          <div class="col-md-6" *ngIf="inscriptionOptionsChild.physicalLimitationActiveChecked">
            <label for="physicalLimitation">Physical limitations:</label><br/>
            <input type="text" id="physicalLimitation" formControlName="physicalLimitation" class="form-control">
            <br/>
          </div>
        </div>

        <div *ngIf="inscriptionOptionsChild.birthdateActiveChecked">
          <label for="birthdate">Birthdate:</label><br/>
          <input type="date" id="birthdate" formControlName="birthdate" class="form-control">
          <br/>
        </div>

        <div *ngIf="inscriptionOptionsChild.genderActiveChecked">
          <label for="gender">Gender:</label>
          <div id="gender">
            <input type="radio" id="man" formControlName="gender" name="gender" value="Man">
            <label for="man">Man </label><br/>
            <input type="radio" id="woman" formControlName="gender" name="gender" value="Woman">
            <label for="woman">Woman </label>
          </div>
          <br/>
        </div>

        <div *ngIf="inscriptionOptionsChild.emailActiveChecked">
          <label for="email">Email:</label><br/>
          <input type="text" id="email" formControlName="email" class="form-control">
          <br/>
        </div>

        <button class="btn btn-primary editButton" type="submit" [disabled]="!inscriptionForm.valid">Edit inscription</button>
        <button class="btn btn-secondary returnButton" type="button" (click)="returnForm()">Return</button>
      </form>

    </div>
  </div>

  <hr/>

  <!-- GEGEVENS -->
  <div>
    <a data-toggle="collapse" data-target="#gegevens"><h2>All the inscriptions</h2></a>
    <div id="gegevens" class="collapse">
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.firstNameActiveChecked">First name</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.lastNameActiveChecked">Last name</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.phoneNumberActiveChecked">Phone number</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.allergyActiveChecked">Allergy</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.physicalLimitationActiveChecked">Physical limitation</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.birthdateActiveChecked">Birthdate</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.genderActiveChecked">Gender</th>
            <th scope="col" *ngIf="inscriptionOptionsChild.emailActiveChecked">Email</th>
            <th scope="col">InscriptionOptions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inscription">
            <td> {{item.id}} </td>
            <td *ngIf="inscriptionOptionsChild.firstNameActiveChecked"> {{item.firstName}} </td>
            <td *ngIf="inscriptionOptionsChild.lastNameActiveChecked"> {{item.lastName}} </td>
            <td *ngIf="inscriptionOptionsChild.phoneNumberActiveChecked"> {{item.phoneNumber}} </td>
            <td *ngIf="inscriptionOptionsChild.allergyActiveChecked"> {{item.allergy}} </td>
            <td *ngIf="inscriptionOptionsChild.physicalLimitationActiveChecked"> {{item.physicalLimitation}} </td>
            <td *ngIf="inscriptionOptionsChild.birthdateActiveChecked"> {{item.birthdate}} </td>
            <td *ngIf="inscriptionOptionsChild.genderActiveChecked"> {{item.gender}} </td>
            <td *ngIf="inscriptionOptionsChild.emailActiveChecked"> {{item.email}} </td>
            <td> <button class="btn btn-secondary formButton" (click)="editInscription(item.id)">Edit</button>
             <button class="btn btn-secondary formButton"(click)="deleteInscription(item.id)">Delete</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div>
    <a data-toggle="collapse" data-target="#preview"><h2>Website preview</h2></a>
    <div id="preview" class="collapse">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.firstNameVisibleChecked">First name</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.lastNameVisibleChecked">Last name</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.phoneNumberVisibleChecked">Phone number</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.allergyVisibleChecked">Allergy</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.physicalLimitationVisibleChecked">Physical limitation</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.birthdateVisibleChecked">Birthdate</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.genderVisibleChecked">Gender</th>
          <th scope="col" *ngIf="inscriptionOptionsChild.emailVisibleChecked">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of inscription">
          <td> {{item.id}} </td>
          <td *ngIf="inscriptionOptionsChild.firstNameVisibleChecked"> {{item.firstName}} </td>
          <td *ngIf="inscriptionOptionsChild.lastNameVisibleChecked"> {{item.lastName}} </td>
          <td *ngIf="inscriptionOptionsChild.phoneNumberVisibleChecked"> {{item.phoneNumber}} </td>
          <td *ngIf="inscriptionOptionsChild.allergyVisibleChecked"> {{item.allergy}} </td>
          <td *ngIf="inscriptionOptionsChild.physicalLimitationVisibleChecked"> {{item.physicalLimitation}} </td>
          <td *ngIf="inscriptionOptionsChild.birthdateVisibleChecked"> {{item.birthdate}} </td>
          <td *ngIf="inscriptionOptionsChild.genderVisibleChecked"> {{item.gender}} </td>
          <td *ngIf="inscriptionOptionsChild.emailVisibleChecked"> {{item.email}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>


