<div>
  <!-- Options -->
  <div>
    <a data-toggle="collapse" data-target="#options"><h2>Options</h2></a>
    <div id="options" class="collapse">
      <app-inscription-options></app-inscription-options>
    </div>
  </div>

  <hr>

  <!-- INPUT -->
  <div>
    <a data-toggle="collapse" data-target="#input"><h2>Input</h2></a>
    <div id="input" class="collapse">

      <form *ngIf="!edit" [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
        <label>
          First Name:
          <input type="text" formControlName="firstName">
        </label><br/>

        <label>
          Last Name:
          <input type="text" formControlName="lastName">
        </label><br/>

        <label>
          Phone number:
          <input type="text" formControlName="phoneNumber">
        </label><br/>

        <label>
          Allergy:
          <input type="text" formControlName="allergy">
        </label><br/>

        <label>
          Physical limitations:
          <input type="text" formControlName="physicalLimitation">
        </label><br/>

        <label>
          Birthdate:
          <input type="date" formControlName="birthdate">
        </label><br/>

        <label>
          Gender:
          <label>
            Man: <input type="radio" formControlName="gender" name="gender" value="Man"> <br/>
            Woman: <input type="radio" formControlName="gender" name="gender" value="Woman">
          </label>
        </label><br/>

        <label>
          Email:
          <input type="text" formControlName="email">
        </label><br/>

        <button type="submit" [disabled]="!inscriptionForm.valid">Add inscription</button>
      </form>

      <form *ngIf="edit" [formGroup]="inscriptionForm" (ngSubmit)="updateInscription()">
        <label>
          First Name:
          <input type="text" formControlName="firstName">
        </label><br/>

        <label>
          Last Name:
          <input type="text" formControlName="lastName">
        </label><br/>

        <label>
          Phone number:
          <input type="text" formControlName="phoneNumber">
        </label><br/>

        <label>
          Allergy:
          <input type="text" formControlName="allergy">
        </label><br/>

        <label>
          Physical limitations:
          <input type="text" formControlName="physicalLimitation">
        </label><br/>

        <label>
          Birthdate:
          <input type="date" formControlName="birthdate">
        </label><br/>

        <label>
          Gender:
          <label>
            Man: <input type="radio" formControlName="gender" name="gender" value="Man"> <br/>
            Woman: <input type="radio" formControlName="gender" name="gender" value="Woman">
          </label>
        </label><br/>

        <label>
          Email:
          <input type="text" formControlName="email">
        </label><br/>

        <button type="submit" [disabled]="!inscriptionForm.valid">Edit inscription</button>
        <button type="button" (click)="returnForm()">Return</button>
      </form>

    </div>
  </div>

  <hr/>

  <!-- GEGEVENS -->
  <div>
    <a data-toggle="collapse" data-target="#gegevens"><h2>Gegevens</h2></a>
    <div id="gegevens" class="coll  apse">
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inscription">
            <th> {{item.id}} </th>
            <th> {{item.firstName}} </th>
            <th> {{item.lastName}} </th>
            <th> {{item.birthdate}} </th>
            <th> <button (click)="editInscription(item.id)">Edit</button>
             <button (click)="deleteInscription(item.id)">Delete</button> </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div>
    <a data-toggle="collapse" data-target="#preview"><h2>Preview</h2></a>
    <div id="preview" class="collapse">

    </div>
  </div>


</div>


