#manage{
  padding-left:5em;

}

#inscriptionModule{
  padding-left:5em;


}
#ideaboxModule{
  padding-left:5em;

}
#pooflistModule{
  padding-left:5em;

}
#memberlistModule{
  padding-left:5em;

}

#how{
  padding-left:5em;

}
.linkToComponent{
  padding-left: 25%;


  color: #2196F3;
}
.linkToComponent:hover{
  font-weight: bold;
  color: #00cc00;
}
