<div>
  <div>
    <h1>Welcome on StuHUB, {{firstname}}!</h1>
    <p>This is the component that will explain how this works:</p>
  </div>

  <!-- MANAGE  -->
  <div>
    <a data-toggle="collapse" data-target="#manage"><h2>How to manage your components ?</h2></a>
    <div id="manage" class="collapse">
      <p>In the sidebar you will find all the component StuHUB is offering.</p>
      <p>Click on a component and start moduling to component as you wish.</p>
      <p>The component will automatically be added on your website if you chose that</p>
    </div>
  </div>

  <hr>

  <!-- HOW -->
  <div>
    <a data-toggle="collapse" data-target="#how"><h2>How to add the modules on your website ?</h2></a>
    <div id="how" class="collapse">
      <p>If you want that some components are shown on your website you will need to ad the following to your website:</p>
      <div>
        <h3>In the head</h3>
        <p></p>

        <h3>In the body</h3>
        <p>

        </p>
      </div>
    </div>
  </div>
</div>
