<div>
  <div>
    <h1>Welcome on the StuHUB web application</h1>
    <p>Dear user<br>Firstly, Stuhub would like to thank you for using the Stuhub web-application.<br>In this module you will learn how to use the available modules.</p>
  </div>

  <!-- MANAGE  -->
  <div>
    <a data-toggle="collapse" data-target="#manage"><h2>How to manage your components ?</h2></a>
    <div id="manage" class="collapse" data-target="#manage">


      <a data-toggle="collapse" data-target="#inscriptionModule"><h3>Inscription module</h3></a>
        <div id="inscriptionModule" class="collapse" data-target="#inscriptionModule">
          <h5>How to use the inscription-module in a few steps.</h5>
          <p>Firstable you have to select the options of your module in the Inscription options.<br>There you will be able to select if you want an setting to be activated, required and or visible.<br>You can do that by turning the switch button on or off.</p>
          <p>Than you would be able to preview the registred members and the selected settings in the last tab. <br>That's also what you will be able to see on your web page.</p>
          <p>Next to the preview and the setting tab you can also directly register a new member by using the input tab (second tab). </p> <p>Further you can also see all the registred members with all their details in the data tab. These informations will not be visible on your webpage.</p>

        </div>


      <a data-toggle="collapse" data-target="#ideaboxModule"><h3>Ideabox module</h3></a>
        <div id="ideaboxModule" class="collapse" data-target="ideaboxModule">
          <h5>How to use the Ideabox-module in a few steps.</h5>
          <p>Firstable you have to select the options of your module in the Ideabox options.<br>There you will be able to select if you want an setting to be activated, required and or visible.<br>You can do that by turning the switch button on or off.</p>
          <p>Than you would be able to preview the formular corresponding to the settings you have activated in the last tab. <br>That's also what you will be able to see on your web page.</p>
          <p>Next to the preview and the setting tab you can also directly add a new idea by using the input tab (second tab).<p>Further you can also see all the idea's with all their details in the data tab. These informations will not be visible on your webpage.</p>
        </div>


      <a data-toggle="collapse" data-target="#memberlistModule"><h3>Memberlist module</h3></a>
        <div id="memberlistModule" class="collapse" data-target="memberlistModule">
          <h5>How to use the memberlist-module in a few steps.</h5>
          <p>Firstable you have to select the options of your module in the Memberlist options.<br>There you will be able to select if you want an setting to be activated, required and or visible.<br>You can do that by turning the switch button on or off.</p>
          <p>Than you would be able to preview the members and the selected settings in the last tab. <br>That's also what you will be able to see on your web page.</p>
          <p>Next to the preview and the setting tab you can also directly add a member by using the input tab (second tab).</p>
          <p>Further you can also see all the members with all their details in the data tab. These informations will not be visible on your webpage.</p>
        </div>

      <a data-toggle="collapse" data-target="#pooflistModule"><h3>Pooflist module</h3></a>
        <div id="pooflistModule" class="collapse" data-toggle="pooflistModule">
          <h5>How to use the pooflist-module in a few steps.</h5>

          <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
          <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
          <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>

        </div>

    </div>








    </div>

  <hr>

  <!-- HOW -->
  <div>
    <a data-toggle="collapse" data-target="#how"><h2>How to add the modules on your website ?</h2></a>
    <div id="how" class="collapse">
      <p>If you have select the options of the modules you want to use, you first can preview them in the preview tab.</p>
      <p>Have you checked the preview of the modules? Are you satisfied about them? Then you can add them to your web page by following the next steps.</p>
      <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>

    </div>
  </div>
</div>
