<div>
  <div>
    <h1>Welcome on StuHUB, {{firstname}}!</h1>
    <p>This is the component that will explain how this works:</p>
  </div>

  <!-- MANAGE  -->
  <div>
    <a data-toggle="collapse" data-target="#manage"><h2>How to manage your components ?</h2></a>
    <div id="manage" class="collapse">
      <p>To manage your components ...</p>
    </div>
  </div>

  <hr>

  <!-- HOW -->
  <div>
    <a data-toggle="collapse" data-target="#how"><h2>How to add the modules on your website ?</h2></a>
    <div id="how" class="collapse">
      <p>Tu generate automaticaly tabels whit all the component information you need to add the following to your website.</p>
      <p>
        {{userID}}
      </p>
    </div>
  </div>
</div>
