.lButton{
   margin-bottom: 1em;
   margin-right: 0.75em;
   width: 6.2em;
 }
.rButton{
  margin-bottom: 1em;
  width: 6.2em;
}

.mainButton{
  width: 10.5em;
}
.container {
  min-width: 35em;
  max-width: 83em;
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 0;
}

.debtButton{
  margin-right: 1em;
  width: 8em;
}
@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {

}

.widthCorrect{
  width: 35em;
}

