.lButton{
   margin-bottom: 1em;
   margin-right: 0.75em;
   width: 6.2em;
 }
.rButton{
  margin-bottom: 1em;
  width: 6.2em;
}

.mainButton{
  width: 10.5em;
}
.container{
  width:83em;
  margin-left: 0em;
  margin-right: 0em;
  padding-right: 0;
}

.collapse{
  width: 83em;
}
