
<div>
  <!-- Options -->
  <div>
    <a data-toggle="collapse" data-target="#options"><h2>Options</h2></a>
    <div id="options" class="collapse">
      <div>
        <p>Activated?</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Visible?</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Name</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Last name</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Email</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <p>Anonyme senders</p>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>

      <p>Allow upload images</p>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>

      <p>Subject List</p>
      <label class="switch">
        <span class="slider round"></span>
      </label>



    </div>
  </div>

  <hr>

  <!-- INPUT -->
  <div>
    <a data-toggle="collapse" data-target="#input"><h2>Input</h2></a>
    <div id="input" class="collapse">
      <div id="theForm">
        <form #f="ngForm" name="theForm" (submit)="addIdea(f)">
          <div class="form-group">
            <label>First Name</label>
            <input type="text"
                   class="form-control"
                   name="firstName"
                   [(ngModel)]="ideaData.firstName"
                   #ideaFirstName="ngModel"
                   required
                   pattern="^[a-zA-Z]+$">
            <span class="help-block danger" *ngIf="ideaFirstName.errors?.required && ideaFirstName.touched">
        The first name is required
      </span>
            <span class="help-block danger" *ngIf="ideaFirstName.errors?.pattern && ideaFirstName.touched">
        The first name name can only contain the letters a-z or A-Z
      </span>
          </div>

          <div class="form-group">
            <label>LastName</label>
            <input type="text"
                   class="form-control"
                   name="lastName"
                   required
                   [(ngModel)]="ideaData.lastName"
                   #ideaLastName="ngModel">
            <span class="help-block danger" *ngIf="ideaLastName.errors?.required && ideaLastName.touched">
        The last name is required
      </span>
            <span class="help-block danger" *ngIf="ideaLastName.errors?.pattern && ideaLastName.touched">
        The last name name can only contain the letters a-z or A-Z
      </span>
          </div>

          <div class="form-group">
            <label>Subject Idea</label>
            <input type="text"
                   class="form-control"
                   name="subject"
                   required
                   [(ngModel)]="ideaData.subjectIdea"
                   #subjectIdea="ngModel">
            <span class="help-block danger" *ngIf="subjectIdea.errors?.required && subjectIdea.touched">
        The subject idea is required
      </span>
            <span class="help-block danger" *ngIf="subjectIdea.errors?.pattern && subjectIdea.touched">
        The subject idea can only contain the letters a-z or A-Z
      </span>
          </div>



          <div class="form-group">
            <label>idea</label>
            <input type="text"
                   class="form-control"
                   name="idea"
                   required
                   [(ngModel)]="ideaData.idea"
                   #idea="ngModel">
            <span class="help-block danger" *ngIf="idea.errors?.required && idea.touched">
        The idea is required
      </span>
            <span class="help-block danger" *ngIf="idea.errors?.pattern && idea.touched">
        The idea can only contain the letters a-z or A-Z
      </span>
          </div>





          <button
            class="btn btn-primary btn-sm"
            [disabled]="f.invalid">Add</button>
        </form>
      </div>
    </div>
  </div>

  <hr/>










  <!-- GEGEVENS -->
  <div>
    <a data-toggle="collapse" data-target="#gegevens"><h2>Gegevens</h2></a>
    <div id="gegevens" class="collapse">
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Subject</th>
          <th scope="col">Idea</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of idea">
          <th> {{item.id}} </th>
          <th> {{item.firstName}} </th>
          <th> {{item.lastName}} </th>
          <th> {{item.subjectIdea}} </th>
          <th> {{item.idea}} </th>
        </tr>
        </tbody>
      </table>


    </div>
  </div>

  <hr>


  <div>
    <a data-toggle="collapse" data-target="#preview"><h2>Preview</h2></a>
    <div id="preview" class="collapse">


        <form action="#LinkNaarDB na het klikken op SubmitButton#" id="dvActivation" style="display: none" id="formIdeaModule">



          <!-- Name -->
          <div class="form-group" >
            Name:<br/>
            <input  type="text">
          </div>




          <!-- Subject -->
          <div class="form-group" >
            Random Subject:<br/>
            <input  type="text">
          </div>
          <div style="display: none">


            <p>Subject: </p>

            <select>
              <option value=""></option>
              <option value="Update">Update</option>
              <option value="Idea">Idea</option>
              <option value="Bad experiences">Bad experiences</option>
            </select>

          </div>



          <!-- Idea -->
          <div class="form-group">
            Idea:<br/>
            <textarea rows="20" cols="80">  </textarea>
          </div>


          <!-- Images -->

          <div class="form-group" style="display: none">
            <br>
            Select an image: <input type="file" name="myImage"><br><br>
          </div>
          <div ><p>Uploading images is not allowed</p></div>



          <input type="submit" value="Send" class="button">
        </form>


    </div>
  </div>


  <hr>




</div>



