
<div>
  <!-- Options -->

  <div>
    <a data-toggle="collapse" data-target="#options"><h2>Ideabox-Options</h2></a>
    <div id="options" class="collapse">
      <app-ideabox-option
        [ideaboxForm]="ideaboxForm"></app-ideabox-option>
    </div>
  </div>
  <hr/>


  <!-- INPUT -->


  <div>
    <a data-toggle="collapse" data-target="#input"><h2>Input</h2></a>
    <div id="input" class="collapse">
      <form *ngIf="!edit" [formGroup]="ideaboxForm" (ngSubmit)="onSubmit()">
        <div *ngIf="ideaboxOptionsChild.subjectOptionActiveChk">
          <label>
            Subject :
            <input type="text" formControlName="subject">
          </label>
        </div>

        <br/>

        <div *ngIf="ideaboxOptionsChild.ideaOptionActiveChk">
          <label>
            Idea:
            <input type="text" formControlName="idea">
          </label>
        </div>

        <br/>

        <div *ngIf="ideaboxOptionsChild.firstNameOptionActiveChk">
          <label>
              firstname :
            <input type="text" formControlName="firstName">
          </label>
        </div>

        <br/>

        <div *ngIf="ideaboxOptionsChild.lastNameOptionActiveChk">
          <label>
            Lastname :
            <input type="text" formControlName="lastName">
          </label>
        </div>

        <br/>

        <div *ngIf="ideaboxOptionsChild.emailOptionActiveChk">
          <label>
            E-mail:
            <input type="text" formControlName="email">
          </label>
        </div>

        <br/>


        <button type="submit" [disabled]="!ideaboxForm.valid">Add idea</button>
      </form>







      <!--<form *ngIf="edit" [formGroup]="inscriptionForm" (ngSubmit)="updateInscription()">
        <div *ngIf="inscriptionOptionsChild.firstNameActiveChecked">
          <label>
            First Name:
            <input type="text" formControlName="firstName">
          </label>
        </div>

        <br/>

        <div *ngIf="inscriptionOptionsChild.lastNameActiveChecked">
          <label>
            Last Name:
            <input type="text" formControlName="lastName">
          </label>
        </div>

        <br/>

        <div *ngIf="inscriptionOptionsChild.phoneNumberActiveChecked">
          <label>
            Phone number:
            <input type="text" formControlName="phoneNumber">
          </label>
        </div>

        <br/>

        <div *ngIf="inscriptionOptionsChild.allergyActiveChecked">
          <label>
            Allergy:
            <input type="text" formControlName="allergy">
          </label>
        </div>

        <br/>

        <div *ngIf="inscriptionOptionsChild.physicalLimitationActiveChecked">
          <label>
            Physical limitations:
            <input type="text" formControlName="physicalLimitation">
          </label>
        </div>

        <br/>

        <div *ngIf="inscriptionOptionsChild.birthdateActiveChecked">
          <label>
            Birthdate:
            <input type="date" formControlName="birthdate">
          </label>
        </div>

        <br/>

        <div *ngIf="inscriptionOptionsChild.genderActiveChecked">
          <label>
            Gender:
            <label>
              Man: <input type="radio" formControlName="gender" name="gender" value="Man"> <br/>
              Woman: <input type="radio" formControlName="gender" name="gender" value="Woman">
            </label>
          </label>
        </div>

        <br/>

        <div *ngIf="inscriptionOptionsChild.emailActiveChecked">
          <label>
            Email:
            <input type="text" formControlName="email">
          </label>
        </div>

        <br/>

        <button type="submit" [disabled]="!inscriptionForm.valid">Edit inscription</button>
        <button type="button" (click)="returnForm()">Return</button>
      </form>
-->
    </div>
  </div>









  <!-- GEGEVENS -->
  <div>
    <a data-toggle="collapse" data-target="#gegevens"><h2>Gegevens</h2></a>
    <div id="gegevens" class="collapse">
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Subject</th>
          <th scope="col">Idea</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of idea">
          <th> {{item.id}} </th>
          <th> {{item.firstName}} </th>
          <th> {{item.lastName}} </th>
          <th> {{item.subjectIdea}} </th>
          <th> {{item.idea}} </th>
        </tr>
        </tbody>
      </table>


    </div>
  </div>

  <hr>


  <div>
    <a data-toggle="collapse" data-target="#preview"><h2>Preview</h2></a>
    <div id="preview" class="collapse">


        <form action="#LinkNaarDB na het klikken op SubmitButton#" id="dvActivation" style="display: none" id="formIdeaModule">



          <!-- Name -->
          <div class="form-group" >
            Name:<br/>
            <input  type="text">
          </div>




          <!-- Subject -->
          <div class="form-group" >
            Random Subject:<br/>
            <input  type="text">
          </div>
          <div style="display: none">


            <p>Subject: </p>

            <select>
              <option value=""></option>
              <option value="Update">Update</option>
              <option value="Idea">Idea</option>
              <option value="Bad experiences">Bad experiences</option>
            </select>

          </div>



          <!-- Idea -->
          <div class="form-group">
            Idea:<br/>
            <textarea rows="20" cols="80">  </textarea>
          </div>


          <!-- Images -->

          <div class="form-group" style="display: none">
            <br>
            Select an image: <input type="file" name="myImage"><br><br>
          </div>
          <div ><p>Uploading images is not allowed</p></div>



          <input type="submit" value="Send" class="button">
        </form>


    </div>
  </div>


  <hr>




</div>



