<form [formGroup]="memberlistOptionsForm" (ngSubmit)="onSubmit()">
  <div>
    <p>First name</p>
    <label class="switch">
      <input type="checkbox" formControlName="fistNameActive" value="true" [checked]="firstNameActiveChecked">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="fistNameRequired" value="true" [checked]="firstNameRequiredChecked">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="fistNameVisible" value="true" [checked]="firstNameVisibleChecked">
      <span class="slider round"></span>
    </label>
  </div>

  <div>
    <p>Last name</p>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameActive" value="true" [checked]="lastNameActiveChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameRequired" value="true" [checked]="lastNameRequiredChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameVisible" value="true" [checked]="lastNameVisibleChecked" >
      <span class="slider round"></span>
    </label>
  </div>

  <div>
    <p>Role</p>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameActive" value="true" [checked]="roleActiveChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameRequired" value="true" [checked]="roleRequiredChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameVisible" value="true" [checked]="roleVisibleChecked" >
      <span class="slider round"></span>
    </label>
  </div>


  <div>
    <p>Email</p>
    <label class="switch">
      <input type="checkbox" formControlName="emailActive" value="true" [checked]="emailActiveChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="emailRequired" value="true" [checked]="emailRequiredChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="emailVisible" value="true" [checked]="emailVisibleChecked" >
      <span class="slider round"></span>
    </label>
  </div>


  <div>
    <p>Birthdate</p>
    <label class="switch">
      <input type="checkbox" formControlName="birthdateActive" value="true" [checked]="birthdateActiveChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="birthdateRequired" value="true" [checked]="birthdateRequiredChecked" >
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="birthdateVisible" value="true" [checked]="birthdateVisibleChecked" >
      <span class="slider round"></span>
    </label>
  </div>


  <button type="submit">Change options</button>
</form>
