

  <meta charset="UTF-8">
      <title>Login</title>
          <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
              <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
                  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css' media="screen" />

<form #f="ngForm" method="post" action="" id="formLog" (submit)="getLogin(f)">
  <div style="max-width: 400px;">

    <p *ngIf="router.url === '/?login=false'" id="fault">E-mail or password incorrect!</p>

    <p *ngIf="router.url === '/?register=true'" id="regSuccess">Registration successful!</p>

    <h2 class="form-signin-heading"><b>Login</b></h2>

    <hr />

    <div class="form-group">
      <label for="email">E-mail</label>
      <input name="email"
             id="email"
             class="form-control"
             [(ngModel)]="loginData.email"
             #email="ngModel"
             placeholder="Enter E-mail"
             required />
      <span class="alert-danger" *ngIf="email.errors?.required && email.touched">
        The e-mail is required! <br/>
      </span>
    </div>

    <br />

    <div class="form-group">
      <label for="password">Password</label>
      <input name="password"
             type="password"
             id="password"
             class="form-control"
             [(ngModel)]="loginData.password"
             #password="ngModel"
             placeholder="Enter Password"
             required />
      <span class="alert-danger" *ngIf="password.errors?.required && password.touched">
        The password is required! <br/>
      </span>
    </div>

    <hr />

    <input type="submit" name="btnLogin" value="Login" id="btnLogin" class="btn btn-primary" [disabled]="!(f.form.valid)" />
    <a routerLink="/register" class="btn btn-primary" style="margin-left: 1%"><b>Register</b></a>
  </div>
</form>
