<div>
  <!-- DATA -->
  <div>
    <a data-toggle="collapse" data-target="#data"><h2>Your Profile</h2></a>
    <div id="data" class="collapse">
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" >First name</th>
          <th scope="col" >Last name</th>
          <th scope="col" >E-mail</th>
          <th scope="col" >Organisation name</th>
          <th scope="col" >Edit</th>
          <th scope="col" >Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of usersettings">
          <td> {{item.first_name}} </td>
          <td> {{item.last_name}} </td>
          <td> {{item.user_email}} </td>
          <td> {{item.org_name}} </td>
          <td> <button (click)="editUser(item.user_id)" data-toggle="collapse" data-target="#input">Edit Profile</button> </td>
          <td> <button data-toggle="collapse" data-target="#del">Delete account</button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <!-- INPUT -->
  <div>
    <div id="input" class="collapse">
      <a data-toggle="collapse" data-target="#input"><h2>Update Profile</h2></a>

      <form [formGroup]="usersettingsForm" (ngSubmit)="updateUser()">

        <hr/>

        <label>
          First Name:<br/>
          <input type="text" formControlName="first_name">
        </label>

        <br/>

        <label>
          Last Name:<br/>
          <input type="text" formControlName="last_name">
        </label>

        <br/>

        <label>
          E-mail:<br/>
          <input type="text" formControlName="user_email">
        </label>

        <br/>

        <label>
          Organisation:<br/>
          <input type="text" formControlName="org_name">
        </label>

        <br/>

        <label>
          Give your password:<br/>
          <input type="password">
        </label>

        <br/><br/>

        <button class="btn btn-primary btn-lg mainButton" type="submit" [disabled]="!usersettingsForm.valid" data-toggle="collapse" data-target="#input">Update Profile</button>
      </form>

      <hr/>

    </div>
  </div>


  <!-- Change Password -->
  <div>
    <a data-toggle="collapse" data-target="#changePass"><h2>Change Password</h2></a>
    <div id="changePass" class="collapse">
      <form [formGroup]="usersettingsForm" (ngSubmit)="updatePassUser()">

        <hr/>

        <label>
          Old password:<br/>
          <input type="password">
        </label>

        <br/>

        <label>
          New Password:<br/>
          <input type="password" formControlName="new_password">
        </label>

        <br/>

        <label>
          Confirm Password:<br/>
          <input type="password">
        </label>

        <br/><br/>

        <button class="btn btn-primary btn-lg mainButton" type="submit" [disabled]="!usersettingsForm.valid">Change Password</button>
      </form>
    </div>
  </div>

  <hr/>


  <!-- DELETE Account -->
  <div>
    <div id="del" class="collapse">
      <a data-toggle="collapse" data-target="#del"><h2>Delete your Account</h2></a>

      <form [formGroup]="usersettingsForm" (ngSubmit)="deleteUser()">

        <hr/>

        <label>
          Give your password:<br/>
          <input type="password">
        </label>

        <br/><br/>
        <p>There is no way back!</p>
        <button class="btn btn-danger btn-lg mainButton" type="submit" [disabled]="!usersettingsForm.valid">Delete Account</button>
      </form>

      <hr/>

    </div>
  </div>

</div>
