<nav *ngIf="router.url != '/login' && router.url != '/register'">
  <ul>
    <li>
      <a routerLink="" routerLinkActive="activated">
        <i class="material-icons">home</i>
      </a>
      <a routerLink="memberlist" routerLinkActive="activated">
        <i class="material-icons">person</i>
      </a>
      <a routerLink="debtlist" routerLinkActive="activated">
        <i class="material-icons">attach_money</i>
      </a>
      <a routerLink="ideabox" routerLinkActive="activated">
        <i class="material-icons">comment</i>
      </a>
      <a routerLink="inscription" routerLinkActive="activated">
        <i class="material-icons">person_add</i>
      </a>
      <a routerLink="login" routerLinkActive="deactivated">
        <i class="material-icons">logout</i>
      </a>
    </li>
  </ul>
</nav>
