nav {
  background: #2D2E2E;
  height: 100%;
  position: fixed;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {

      a {
        color: #fff;
        padding: 20px;
        display: block;
      }

      .activated {
        background-color: #00a8ff;
      }
    }
  }
}

.dropdown-toggle::after{
  display: none;
}
.dropdown{
  margin-top: 1em;
  position: fixed;
  z-index: 50;
  .dropdown-menu{
    background: #2D2E2E;
  }
  button{
    width: 4em;
    height: 4em;
    background: #2D2E2E;
    padding-left: 0.5em;
    margin: 0.2em;

  }
  .material-icons{
    font-size: 3em;
  }
  i {
    color: white;
    padding-right: 1em;
  }
  a{
    background: #2D2E2E;
    color: white;
  }
}


@media only screen and (max-width: 480px) {
  nav{
    display: none;
  }
}
@media only screen and (min-width: 480px) {
 .dropdown{
   display: none;
 }
}
