<form [formGroup]="ideaboxOptionForm" (ngSubmit)="onSubmit()">
  <div>
    <p>Subject options</p>
    <label class="switch">
      <input type="checkbox" formControlName="subjectOptionActive" value="true" [checked]="subjectOptionActiveChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="subjectOptionRequired" value="true" [checked]="subjectOptionRequiredChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="subjectOptionVisible" value="true" [checked]="subjectOptionVisibleChk">
      <span class="slider round"></span>
    </label>
  </div>

  <div>
    <p>Idea options</p>
    <label class="switch">
      <input type="checkbox" formControlName="ideaOptionActive" value="true" [checked]="ideaOptionActiveChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="ideaOptionRequired" value="true" [checked]="ideaOptionRequiredChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="ideaOptionVisible" value="true" [checked]="ideaOptionVisibleChk">
      <span class="slider round"></span>
    </label>
  </div>

  <div>
    <p>Fist name options</p>
    <label class="switch">
      <input type="checkbox" formControlName="firstNameOptionActive" value="true" [checked]="firstNameOptionActiveChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="firstNameOptionRequired" value="true" [checked]="firstNameOptionRequiredChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="firstNameOptionVisible" value="true" [checked]="firstNameOptionVisibleChk">
      <span class="slider round"></span>
    </label>
  </div>

  <div>
    <p>Lastname options</p>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameOptionActive" value="true" [checked]="lastNameOptionActiveChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameOptionRequired" value="true" [checked]="lastNameOptionRequiredChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="lastNameOptionVisible" value="true" [checked]="lastNameOptionVisibleChk">
      <span class="slider round"></span>
    </label>
  </div>

  <div>
    <p>Email options</p>
    <label class="switch">
      <input type="checkbox" formControlName="emailOptionActive" value="true" [checked]="emailOptionActiveChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="emailOptionRequired" value="true" [checked]="emailOptionRequiredChk">
      <span class="slider round"></span>
    </label>
    <label class="switch">
      <input type="checkbox" formControlName="emailOptionVisible" value="true" [checked]="emailOptionVisibleChk">
      <span class="slider round"></span>
    </label>
  </div>


  <button type="submit">Change options</button>
</form>
