<div>
  <!-- Options -->
  <div>
    <a data-toggle="collapse" data-target="#options"><h2>Options</h2></a>
    <div id="options" class="collapse">
      <div>
        <p>Active</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Visible</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>First Name</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Last name</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Role</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Age</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>

      <div>
        <p>Email</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>

  <hr>

  <!-- Input -->

  <div>
    <a data-toggle="collapse" data-target="#input"><h2>Input</h2></a>
    <div id="input" class="collapse">

      <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
        <label>
          First Name:
          <input type="text" formControlName="firstName">
        </label><br/>

        <label>
          Last Name:
          <input type="text" formControlName="lastName">
        </label><br/>

        <label>
          Age:
          <input type="date" formControlName="birthdate">
        </label><br/>

        <label>
          Email:
          <input type="text" formControlName="email">
        </label><br/>

        <button type="submit" [disabled]="!inscriptionForm.valid">Submit</button>
      </form>

    </div>
  </div>

  <hr/>


  <!-- GEGEVENS -->
  <div>
    <a data-toggle="collapse" data-target="#gegevens"><h2>Gegevens</h2></a>
    <div id="gegevens" class="collapse">

    </div>
  </div>

  <hr>

  <div>
    <a data-toggle="collapse" data-target="#preview"><h2>Preview</h2></a>
    <div id="preview" class="collapse">

    </div>
  </div>
</div>
