<div class="widthCorrect"></div>
<div>
  <!-- Memberlist Options -->
  <div>
    <a data-toggle="collapse" data-target="#options"><h2>Memberlist options</h2></a>
    <div id="options" class="collapse">
      <app-memberlist-options
        [memberlistForm]="memberlistForm"></app-memberlist-options>
    </div>
  </div>

  <hr>

  <!-- Registration -->
  <div>
    <a data-toggle="collapse" data-target="#input"><h2>Registration</h2></a>
    <div id="input" class="collapse">
      <!-- First name veld met checks: is het active?  -->
      <form *ngIf="!edit" [formGroup]="memberlistForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-6" *ngIf="memberlistOptionsChild.firstNameActiveChecked">
            <label for="rFirstname">First Name:</label><br/>
              <input type="text" id="rFirstname" formControlName="firstName" class="form-control">
            <br/>
          </div>

          <div class="col-md-6" *ngIf="memberlistOptionsChild.lastNameActiveChecked">
            <label for="rLastname">Last Name:</label><br/>
              <input type="text" id="rLastname" formControlName="lastName" class="form-control">
            <br/>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4" *ngIf="memberlistOptionsChild.rolActiveChecked">
            <label for="rFuntion">Function:</label><br/>
              <input type="text" id="rFuntion" formControlName="rol" class="form-control">
            <br/>
          </div>

          <div class="col-md-4" *ngIf="memberlistOptionsChild.birthdateActiveChecked">
            <label for="rBirthdate">Date of birth:</label><br/>
              <input type="date" id="rBirthdate" formControlName="birthdate" class="form-control">
            <br/>
          </div>

          <div class="col-md-4" *ngIf="memberlistOptionsChild.emailActiveChecked">
            <label for="rEmail">Email:</label><br/>
              <input type="text" id="rEmail" formControlName="email" class="form-control">
            <br/>
          </div>
        </div>

        <div *ngIf="memberlistOptionsChild.organisationActiveChecked">
          <label for="rOrganisation">Organisation:</label><br/>
            <input type="text" id="rOrganisation" formControlName="organisation" class="form-control">
          <br/>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!memberlistForm.valid">Add member</button>
      </form>

      <form *ngIf="edit" [formGroup]="memberlistForm" (ngSubmit)="updateMemberlist()">
        <div class="form-row">
          <div class="col-md-6" *ngIf="memberlistOptionsChild.firstNameActiveChecked">
            <label for="firstname">First Name:</label><br/>
            <input type="text" id="firstname" formControlName="firstName" class="form-control">
            <br/>
          </div>

          <div class="col-md-6" *ngIf="memberlistOptionsChild.lastNameActiveChecked">
            <label for="lastname">Last Name:</label><br/>
            <input type="text" id="lastname" formControlName="lastName" class="form-control">
            <br/>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4" *ngIf="memberlistOptionsChild.rolActiveChecked">
            <label for="funtion">Function:</label><br/>
            <input type="text" id="funtion" formControlName="rol" class="form-control">
            <br/>
          </div>

          <div class="col-md-4" *ngIf="memberlistOptionsChild.birthdateActiveChecked">
            <label for="birthdate">Date of birth:</label><br/>
            <input type="date" id="birthdate" formControlName="birthdate" class="form-control">
            <br/>
          </div>

          <div class="col-md-4" *ngIf="memberlistOptionsChild.emailActiveChecked">
            <label for="email">Email:</label><br/>
            <input type="text" id="email" formControlName="email" class="form-control">
            <br/>
          </div>
        </div>

        <div *ngIf="memberlistOptionsChild.organisationActiveChecked">
          <label for="organisation">Organisation:</label><br/>
          <input type="text" id="organisation" formControlName="organisation" class="form-control">
          <br/>
        </div>

        <button class="btn btn-primary editButton" type="submit" [disabled]="!memberlistForm.valid">Edit member</button>
        <button class="btn btn-secondary returnButton" type="button" (click)="returnForm()">Return</button>
      </form>

    </div>
  </div>

  <hr/>

  <!-- DATA -->
  <div>
    <a data-toggle="collapse" data-target="#data"><h2>Registered members</h2></a>
    <div id="data" class="collapse">
      <div *ngIf="error">{{error}}</div>
      <div *ngIf="success">{{success}}</div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngIf="memberlistOptionsChild.firstNameActiveChecked">First name</th>
          <th scope="col" *ngIf="memberlistOptionsChild.lastNameActiveChecked">Last name</th>
          <th scope="col" *ngIf="memberlistOptionsChild.rolActiveChecked">Function</th>
          <th scope="col" *ngIf="memberlistOptionsChild.emailActiveChecked">Email</th>
          <th scope="col" *ngIf="memberlistOptionsChild.birthdateActiveChecked">Birthdate</th>
          <th scope="col" *ngIf="memberlistOptionsChild.organisationActiveChecked">Organisation</th>
          <th scope="col">Memberlist Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of members">
          <td> {{item.id}} </td>
          <td *ngIf="memberlistOptionsChild.firstNameActiveChecked"> {{item.firstName}} </td>
          <td *ngIf="memberlistOptionsChild.lastNameActiveChecked"> {{item.lastName}} </td>
          <td *ngIf="memberlistOptionsChild.rolActiveChecked"> {{item.rol}} </td>
          <td *ngIf="memberlistOptionsChild.emailActiveChecked"> {{item.email}} </td>
          <td *ngIf="memberlistOptionsChild.birthdateActiveChecked"> {{item.birthdate}} </td>
          <td *ngIf="memberlistOptionsChild.organisationActiveChecked"> {{item.organisation}} </td>
          <th> <button class="btn btn-secondary formButton"(click)="editMemberlist(item.id)">Edit</button>
            <button class="btn btn-secondary formButton" (click)="deleteMemberlist(item.id)">Delete</button> </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div>
    <a data-toggle="collapse" data-target="#preview"><h2>Website preview</h2></a>
    <div id="preview" class="collapse">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngIf="memberlistOptionsChild.firstNameVisibleChecked">First name</th>
          <th scope="col" *ngIf="memberlistOptionsChild.lastNameVisibleChecked">Last name</th>
          <th scope="col" *ngIf="memberlistOptionsChild.lastNameVisibleChecked">Function</th>
          <th scope="col" *ngIf="memberlistOptionsChild.emailVisibleChecked">Email</th>
          <th scope="col" *ngIf="memberlistOptionsChild.birthdateVisibleChecked">Birthdate</th>
          <th scope="col" *ngIf="memberlistOptionsChild.organisationVisibleChecked">Organisation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of members">
          <td> {{item.id}} </td>
          <td *ngIf="memberlistOptionsChild.firstNameVisibleChecked"> {{item.firstName}} </td>
          <td *ngIf="memberlistOptionsChild.lastNameVisibleChecked"> {{item.lastName}} </td>
          <td *ngIf="memberlistOptionsChild.lastNameVisibleChecked"> {{item.rol}} </td>
          <td *ngIf="memberlistOptionsChild.emailVisibleChecked"> {{item.email}} </td>
          <td *ngIf="memberlistOptionsChild.birthdateVisibleChecked"> {{item.birthdate}} </td>
          <td *ngIf="memberlistOptionsChild.organisationVisibleChecked"> {{item.organisation}} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>


