div {
  margin: auto;
  width: 400px;
}

#regSuccess {
  margin: auto;
  margin-bottom: 35px;
  margin-top: 35px;
  border-style: solid;
  border-color: #00cc00;
  border-width: 1px;
  padding: 5px 20px 5px 20px;
  width: 400px;
  text-align: center;
  background-color: #d9ffb3;
  border-radius: 10px;
}

#fault {
  margin: auto;
  margin-bottom: 35px;
  margin-top: 35px;
  border-style: solid;
  border-color: #ff1a1a;
  border-width: 1px;
  padding: 5px 20px 5px 20px;
  width: 400px;
  text-align: center;
  background-color: #ff8080;
  border-radius: 10px;
}
