<div>
  <p>Actif</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Visible</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Name</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Last name</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Phone number</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Allergy</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Physical limitation</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Birthdate</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Gender</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>

<div>
  <p>Email</p>
  <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
</div>
